/* body{
background-color: red;
} */

.button {
  background-color: #1E90ff;
}

.button:hover {
  background-color: #1E90ff75;
}

.navdiv {
  background: #82cAFF40;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.navele{
  background-color: #82cAFF;
  padding: 10px;
}
.navele:hover{
  transform: scale(1.05);
}