.button {
  background-color: #1E90ff;
}

.button:hover {
  background-color: #1E90ff75;
}

.navdiv {
  background: #82cAFF40;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.navele {
  background-color: #82cAFF;
  padding: 10px;
}

.navele:hover {
  transform: scale(1.05);
}

.classcontainer {
  width: 80vw;
  height: 100vh;
  justify-content: right;
  align-items: flex-start;
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;


}

.numbercontainer {

  display: grid;
  grid-template-columns: 30px 30px;
  width: 20vw;
  margin: 10px;
  margin-right: 60px;
  border: 3px solid #82cAFF;
  padding: 10px
}

.dashboard {
  display: flex;
  height: 100px;
  padding: 10px;
  margin: 10px
}



@media screen and (max-width: 460px) {
  .navmedia {
    width: 200px;
    float: left;
    height: 600px;

  }

  .title {
    font-size: 14px;
    padding: 20px;
  }

  .task{
    overflow-wrap: break-word;
  }

  .container {
    margin-top: 250px;
    width: 70vw;

  }

  .dashboard {
    margin-top: 250px;
    width: 70vw;
    display: flex;
    flex-direction: column;
  }

  .classcontainer {
    width: 100vw;
  }

}