#appid {
  display: flex;
  margin: 20px;
  padding: 25px;
  background-image: linear-gradient(to right, #0018f9, #73c2Fb);
}

#cardid {
  background-color: whitesmoke;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.button {
  background-image: linear-gradient(to left, #0018f9, #73c2Fb);
  border-radius: 25px;
  width: 250px;
}

.center {
  text-align: center;
}

ul {
  list-style-type: none;
}

.buttonid {
  text-align: center;

}

.text-muted {
  background-color: #ffffff;
  color: #f8f8f9;
}